.body {
    background: #252525 !important;
    color: orange;

}

.navbar {
    background: #252525 !important;
    color: white;
    padding: 0;
    margin: 0;
    border: none;
}

.navbar-toggler {
    border: none !important;
}

